doctype html
html
  head
    meta(charset='utf-8')
    title Untitled Document
    link(href='css/ms_styles.css', type='text/css', media='all', rel='stylesheet')
  body
    mixin space()
      | !{' '}
    .ms_main_wrap
      .ms_header
        .header_left
          .shape1
          img(src='images/logo.png')
        .header_right
          img(src='images/ecosystem.png')
          img(src='images/patent.png')
          span.web_url
            a(href='http://www.moolya.global')
              | www.
              span.m_red m
              span.m_yel oo
              span.m_red lya
              | .global
      .ms_content_wrap
        .content_left
          .profile_pic
            img(src=profilePic)
        .content_right
          h2
            | #{firstName} #{lastName} / an '#{communityType}' on #{space}
            span.m_red m
            span.m_yel oo
            span.m_red lya
            |  / #{chapterName} / #{clusterName}
          ul.ms_menu
            each list, i in listView
              li
                -if (pathName == list.link )
                 a.ms_btn_ye.active_menu(href= list.link) #{list.name}
                -else
                 a.ms_btn_ye(href= list.link) #{list.name}
            li
          .ms_branches_banner
            img(src='images/branches_banner.jpg')
          .register_block
            p
              strong
                | To view more details and to collaborate with #{space}
                span.m_red #{firstName} #{lastName}
            a.ms_btn_re(href='/login') Login
            |  or
            a.ms_btn_re(href='/register') Register
            br
            b
              | on
              span.m_red m
              span.m_yel oo
              span.m_red lya
